<nav class="main-nav-outer" id="test">
        <div class="header-left-info">
            <div class="info-group">
                <span class="info-label">Обадете се:</span>
                <span class="info-value">0893/440-797</span> 
            </div>
            <div class="info-group">
                <span class="info-label">Пишете ни:</span>
                <span class="info-value">nikolai.nikolaev11@gmail.com</span> 
            </div>
        </div>
        
        <div class="container clearfix">
            <a href="/law-page/index.html" class="logo-left">
                <img src="/law-page/img/nikolaev & co - 2.png" alt="Nikolaev & Co">
            </a>
            
            <ul class="main-nav">
                <li><a href="/law-page/index.html#header">Начало</a></li>
                <li class="dropdown-custom">
                    <a href="/law-page/za-nas/za-nas.html">За нас <i class="fa fa-angle-down" style="margin-left: 4px; font-size: 14px;"></i></a>
                    <ul class="dropdown-menu-custom">
                        <li class="mobile-only-link"><a href="/law-page/za-nas/za-nas.html">За нас (Общо)</a></li>
                        <li><a href="/law-page/za-nas/za-nas.html#kak-rabotim">Как работим?</a></li>
                        <li><a href="/law-page/za-nas/za-nas.html#online-konsultacia">Онлайн консултация</a></li>
                        <li><a href="/law-page/privacy-policy.html">Политика за поверителност</a></li>
                    </ul>
                </li>
                <li class="dropdown-custom">
                    <a href="/law-page/index.html#service">Услуги <i class="fa fa-angle-down" style="margin-left: 4px; font-size: 14px;"></i></a>
                    <ul class="dropdown-menu-custom">
                        <li class="mobile-only-link"><a href="/law-page/index.html#service">Всички услуги</a></li>
                        <li><a href="/law-page/korporativni-klienti/abonamentno-obsluzhvane.html">Абонаментно обслужване</a></li>
                        <li><a href="/law-page/za-nas/za-nas.html#online-konsultacia">Онлайн консултации</a></li>
                    </ul>
                </li>
                <li><a href="/law-page/index.html#Portfolio">Новини</a></li>
                <li><a href="/law-page/index.html#client">Клиенти</a></li>
                <li><a href="/law-page/index.html#team">Колектив</a></li>
                <li><a href="/law-page/index.html#contact">Контакти</a></li>
            </ul>
            <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
        </div>
    </nav>
